# Configuration file

general {
    B:"Always show armor bar?"=false

    # Colors must be specified in #RRGGBB format
    S:"Armor icon colors" <
        #FFFFFF
        #9A33FF
        #7D14E3
        #7F0AA3
        #AD09A8
        #C70E9F
     >

    # Set to true if the armor bar display's incorrectly
    B:"Override for Armor shift"=false
    B:"Show empty armor icons?"=true
}


